QComboBox {
    combobox-popup: 0;
}

QWidget {
    background-color: #222222;
    color: white;
}

QMenuBar {
    background-color: #222222
}

QScrollArea {
    border: none;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background-color: #333333
}

#Generate, #Save {
    background-color: #0079d3;
}
